@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    /* Cores de fundo */
    --bg-color-primary: #131a24;
    --bg-color-secondary: #232b35;
    --bg-color-tertiary: #0b2f6966;

    /* Cores principais */
    --color-primary: #3b82f6;

    /* Cores de texto */
    --color-text-primary: #8b949e;
    --color-text-secondary: #fff;

    /* Cores de borda */
    --color-border-primary: #ffffff1c;
    --color-border-secondary: #3b82f666;

    /* Cor de box-shadow */
    --color-shadow: #001b49;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg-color-primary);
}

header {
    width: 100%;
    background-color: var(--bg-color-primary);
    border-bottom: 1px solid var(--color-border-primary);
    position: fixed;
    padding: 1.4rem 1.5rem;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.header-container > a {
    text-decoration: none;
    font-size: 1.43rem;
    color: var(--color-text-secondary);
    font-weight: 500;
    outline: none;
    transition: all 0.3s ease;
}

.header-nav ul {
    display: flex;
    gap: 1.8rem;
    list-style: none;
}

.header-nav a {
    text-decoration: none;
    color: var(--color-text-primary);
    font-weight: 400;
    outline: none;
    transition: all 0.3s ease;
}

.header-container a:hover {
    color: var(--color-primary);
}

section {
    padding: 1.5rem;
}

.hero-container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    max-width: 1200px;
    min-height: 90vh;
    padding-top: 7rem;
}

.hero-container img {
    max-width: 370px;
    justify-self: center;
    border-radius: 42% 58% 67% 33% / 65% 49% 51% 35%; 
    box-shadow: 0 0 20px 15px var(--color-shadow);
}

.hero-container h1 {
    font-size: 2.7rem;
    letter-spacing: 0.02em;
    background: linear-gradient(135deg, var(--color-primary), #3a8fff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.hero-container span {
    background: none;
    -webkit-text-fill-color: initial;
    color: var(--color-text-secondary);
}

.hero-container h2 {
    font-size: 1.35rem;
    color: var(--color-text-primary);
    font-weight: 500;
}

.hero-info {
    display: flex;
    flex-direction: column;
}

.hero-info p {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color-text-primary);
    letter-spacing: 0.02em;
    margin-bottom: 0.5rem;
}

.hero-links {
    margin-top: 2rem;
}

.hero-links ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

.btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--color-text-secondary);
    font-weight: 400;
    padding: 0.8rem 1.3rem;
    text-decoration: none;
    border-radius: 12px;
    transition: all 0.7s ease;
}

.btn-primary {
    background-color: var(--color-primary);
}

.btn-primary:hover {
    background-color: #0162fd;
}

.btn-secondary {
    border: 1px solid var(--color-border-primary);
}

.btn-secondary:hover {
    border-color: var(--color-primary);
}

.section-label {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--color-text-primary);
    letter-spacing: 0.07em;
}

.section-title {
    color: var(--color-text-secondary);
    letter-spacing: 0.03em;
}

.section-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 1rem;
    max-width: 1200px;
    padding-top: 3.5rem;
}

.section-description {
    background-color: var(--bg-color-secondary);
    max-width: 750px;
    padding: 3rem;
    border: 1px solid var(--color-border-primary);
    border-radius: 12px;
}

.section-description p {
    color: var(--color-text-secondary);
    line-height: 1.9;
}

.skills-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}

.skill-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    background-color: var(--bg-color-secondary);
    border: 1px solid var(--color-border-primary);
    padding: 2.5rem 0;
    border-radius: 12px;
}

.skill-card h3 {
    color: var(--color-text-secondary);
    font-weight: 500;
    letter-spacing: 0.02em;
}

.skill-icon {
    display: flex;
    background-color: var(--bg-color-tertiary);
    border: 1px solid var(--color-border-secondary);
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 0 0 15px 15px #0e244b66;
}

.skill-icon img {
    max-width: 52px;    
    width: 100%;
}

